#topnav {
    position: fixed;
    top:0;
    overflow: hidden;
    background:#B1DE89;
    width: 100%;
    height: 30px;
    padding: 0;
    z-index: 3;
}

#topnav .bouton_nav {
    float:left;
    margin: 0;
    padding: 6px 20px 7px;
    font-family: 'Arial', sans serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}

#topnav a:hover {
    color: #fff;
    background:#333;
}

#topnav .menu_actif {
    float:left;
    margin: 0;
    padding: 7px 20px 7px;
    font-family: 'Arial', sans serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background:#444;
}

/*------- Petites résolutions d'écran ----------*/
@media only screen and (max-width: 1500px) {
    #topnav .bouton_nav, #topnav .menu_actif {
        padding: 6px 10px 7px;
    }
}
@media only screen and (max-width: 1330px) {
    #topnav .bouton_nav, #topnav .menu_actif {
        padding: 8px 6px;
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 1150px) {
    #topnav .bouton_nav, #topnav .menu_actif {
        padding: 8px 6px;
        font-size: 0.75em;
    }
}