/*-----------------------------------------------------------------------*/
/*------------------------------- REPONSIF ------------------------------*/
/*-----------------------------------------------------------------------*/

@media only screen and (max-width: 1700px) {
    #boutons-filtres.pifo {
        font-size: 0.7em;
    }
    #reponse.pifo {
        height: 60%;
    }
    .tablesorter-default {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 1600px) {
    #topnav .bouton_nav, #topnav .menu_actif {
        padding: 6px 10px 7px;
        font-size: 0.8em;
    }
    #descriptif h1 {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 1500px) {
    #descriptif{
        padding: 10px 0 0 0;
        margin-right: 1%;
    }
    #boutons-filtres.page_numeros {
        margin:10px 50px 0 0;
    }
    #alerte_commune, #wait_ajax.pifo {
        font-size: 0.9em;
    }
    #descriptif h1 {font-size: 1.35em;}
    #infos_commune_col1 {font-size: 0.9em;}
    #infos_commune_col2 {max-width: 340px;}
}

@media only screen and (max-width: 1400px) {
    h1 {font-size: 1.3em;}
    h2 {font-size: 1.2em;}
    h3 {font-size: 0.9em;}

    #boutons-filtres.pifo {
        width: 60%;
    }
    #alerte_commune, #wait_ajax.pifo {
        right: 1%;
    }
    .tablesorter-default {
        font-size: 0.8em;
    }
    #descriptif {width: 55%;}
    #infos_commune_col2 {max-width: 270px;}
    .barre_noms, .barre_noms_avec_adresses, .barre_adresses {margin: 3px 5px;}
}

@media only screen and (max-width: 1330px) {
    #topnav .bouton_nav, #topnav .menu_actif {
        padding: 8px 6px;
        font-size: 0.75em;
    }
    h1 {font-size: 1.5em;}
    #boutons-filtres.pifo {
        margin-left: 1%;
        width: 67%;
    }
    #alerte_commune, #wait_ajax.pifo {
        width: 30%;
        font-size: 0.85em;
        line-height:30px;
    }
}

@media only screen and (max-width: 1200px) {
    td {padding:1px 5px;}
    h1 {font-size: 1.4em;}
    #type_voie {margin-bottom: 0.8em;}
    #titre_commune{margin:0 20px;}
    #bandeau_commune{margin-left:5px;}
    #boutons-filtres.pifo {
        width: 72%;
    }
    #alerte_commune, #wait_ajax.pifo {
        width: 25%;
        line-height:25px;
    }
    #descriptif {
        width: 60%;
    }
    #infos_commune_col1 {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 1120px) {
    h1 {font-size: 1.2em;}
    h2 {font-size: 1.1em;}
    h3 {font-size: 0.8em; margin-bottom: 0}
    #bandeau {height: 130px;}
    #topnav {height: 60px;}
    #barre-jaune {top: 60px;}
    #bandeau {top:90px}
}

@media only screen and (max-width: 1100px) {
    #boutons-filtres.pifo {
        width: 75%;
    }
    #alerte_commune, #wait_ajax.pifo {
        width: 20%;
        font-size: 0.75em;
    }
    #alerte_commune .fermer-alerte {
        margin-top: 5px;
        margin-right: 5px;
        height: 20px;
        line-height: 20px;
        width: 20px;
        border-radius: 3px;
    }
}

@media only screen and (max-width: 1070px) {
    #wait_ajax {
    background: url("../img/skate.gif") no-repeat lightblue left 1% top 50%;
    background-size: 60px;
    }
    #wait_ajax p {font-size: 1.1em;}
    h1, h4 {margin: 0}
}

@media only screen and (max-width: 1050px) {
    #reponse.pifo {
    margin-top:280px;
    }
    #infos_commune_col1 {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 950px) {
    #wait_ajax {
    background: url("../img/skate.gif") no-repeat lightblue left 1% top 70%;
    background-size: 50px;
    }
}

@media only screen and (max-width: 700px) {
    #wait_ajax {
    background: url("../img/skate.gif") no-repeat lightblue left 5% top 70%;
    background-size: 40px;
    }
    #wait_ajax p {
    font-size: 1em;
    }
    #bandeau h1 {font-size: 1em;}
    h4 {font-size: 0.8em;}
}

/*-----------------------------------------------------------------------*/
/*-------------------------------- MOBILE -------------------------------*/
/*-----------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    #topnav {height: 30px;}
    #barre-jaune {top: 30px;}
    #bandeau {top:60px;}
    #pifostats, #pifoprogression, #onglets, #bouton_legende, #bouton_refresh, #bouton_aleatoire, #bouton_communes_voisines,
    #panneau_map #espace_bouton_copier, #panneau_map #contenu {display: none;}
    #bouton_localise_moi {
        display:block;
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 20px;
        background: url("../img/cible.png") no-repeat gold center;
        background-size: 30px;
        width: 40px;
        height: 40px;
        border-bottom: 2px salmon solid;
        border-radius: 6px;
    }
    #recentrer_commune {margin-left:10px; width: 30px; height: 30px;}
    #barre-jaune input[type="text"] {width: 50px;}
    #bandeau {height: 110px;}
    #bandeau #descriptif {width: 100%;}
    #bandeau #descriptif #infos_commune_col1, #bandeau #descriptif #infos_commune_col2 {margin:4px 0;}
    #descriptif.pifo #infos_commune_col2 h1 {margin: 0; font-size: 0.9em}
    #reponse.pifomap{margin-top: 160px;}
    #reponse #map_div {
        margin:0;
        border:none;
        border-top: 2px solid lightblue;
        width: 100%;
    }
    #reponse #panneau_map {
        position: absolute;
        z-index: 2;
        background-color: white;
        bottom: 0px;
        width: 100%;
        height: 100px;
        border:none;
        border-top: 2px solid lightblue;
    }
}