@media only screen and (max-width: 1700px) {
    #descriptif, #infos_commune_col2 {margin:0 10px;}
    #boutons-filtres.pifo {font-size: 0.7em;}
    #boutons-filtres ul {padding: 0;}
    .tablesorter-default {font-size: 0.9em;}
    .barre_noms_tous, .barre_noms_avec_adresses_tous, .barre_adresses_tous {width:35%;}
    #pifostats.pifodrome h3 {font-size: 0.8em}
    #stats_contenu .monte, #stats_contenu .baisse, #stats_contenu .stagne {padding-left: 30px; background-size: 20px;}
    #pifostats.pifodrome p {font-size: 0.75em;  margin: 0.4em 0 0 10px;}
}

@media only screen and (max-width: 1600px) {
    #descriptif h1 {font-size: 1.5em;}
    #infos_commune_col2 {max-width: 370px;}
    #stats_contenu.bien, #stats_contenu.nul, #stats_contenu.stagne {padding-right: 40px; background-size: 40px;}
    .zone-boutons-filtres{width: 60%;}
}

@media only screen and (max-width: 1500px) {
    #descriptif{margin-right: 1%;}
    #boutons-filtres.page_numeros {
        margin:10px 50px 0 0;
    }
    #alerte_commune, #wait_ajax.pifo {
        font-size: 0.9em;
    }
    #descriptif h1 {font-size: 1.35em;}
    #infos_commune_col1 {font-size: 0.9em;}
    #infos_commune_col2 {max-width: 340px;}
    .barre_noms, .barre_noms_avec_adresses, .barre_adresses {margin:4px 5px;}
}

@media only screen and (max-width: 1400px) {
    h1 {font-size: 1.3em;}
    h2 {font-size: 1.2em;}
    h3 {font-size: 0.9em;}
    #aide_contenu.videos, #aide_contenu.videos, #aide_contenu.outils {margin: 3% 5%; margin-top:max(30px, 3%);}
    #boutons-filtres.pifo {font-size: 0.65em;}
    #alerte_commune {
        right: 1%;
    }
    .tablesorter-default {
        font-size: 0.8em;
    }
    #descriptif {width: 55%;}
    #infos_commune_col2 {max-width: 270px;}
}

@media only screen and (max-width: 1330px) {
    h1 {font-size: 1.5em;}
    #boutons-filtres.pifo {margin-left: 1%;}
    #alerte_commune, #wait_ajax.pifo {
        width: 30%;
        font-size: 0.85em;
        line-height:30px;
    }
    .zone-boutons-filtres{width: 75%;}
    #pifofiltres {line-height: 1.1em;}
}

@media only screen and (max-width: 1200px) {
    td {padding:1px 5px;}
    h1 {font-size: 1.4em;}
    #type_voie {margin-bottom: 0.8em;}
    #titre_commune{margin:0 20px;}
    #bandeau_commune{margin-left:5px;}
    #alerte_commune, #wait_ajax.pifo {
        width: 25%;
        line-height:25px;
    }
    #descriptif {width: 60%;}
    #infos_commune_col1 {font-size: 0.8em;}
    .bloc_fiche {
        width: 92%;
        margin: 2%
    }
}

@media only screen and (max-width: 1120px) {
    h1 {font-size: 1.2em;}
    h2 {font-size: 1.1em;}
    h3 {font-size: 0.8em; margin-bottom: 0}
    #bandeau {height: 130px;}
}

@media only screen and (max-width: 1100px) {
    #aide_contenu{columns: 1; height:initial;}
    #alerte_commune, #wait_ajax.pifo {
        width: 20%;
        font-size: 0.75em;
    }
    #alerte_commune .fermer-alerte {
        margin-top: 5px;
        margin-right: 5px;
        height: 20px;
        line-height: 20px;
        width: 20px;
        border-radius: 3px;
    }
}

@media only screen and (max-width: 1070px) {
    #wait_ajax {
    background: url("../img/skate.gif") no-repeat lightblue left 1% top 50%;
    background-size: 60px;
    }
    #wait_ajax p {font-size: 1.1em;}
    h1, h4 {margin: 0}
}

@media only screen and (max-width: 1050px) {
    #reponse.pifo {margin-top:290px; height: calc(100vh - 310px);}
    #infos_commune_col1 {font-size: 0.9em;}
}

@media only screen and (max-width: 950px) {
    #wait_ajax {
    background: url("../img/skate.gif") no-repeat lightblue left 1% top 70%;
    background-size: 50px;
    }
    h3{font-size:0.75em;}
}

@media only screen and (max-width: 700px) {
    #aide_contenu.videos {columns:1;}
    #wait_ajax {
    background: url("../img/skate.gif") no-repeat lightblue left 5% top 70%;
    background-size: 40px;
    }
    #wait_ajax p {
    font-size: 1em;
    }
    #bandeau h1 {font-size: 1em;}
    h4 {font-size: 0.8em;}
}

/*-----------------------------------------------------------------------*/
/*------------------------------- HAUTEUR -------------------------------*/
/*-----------------------------------------------------------------------*/

@media only screen and (max-height: 900px) {
    .navigation h1 {font-size: 1em;}
    #menu_recent #liens h2 {font-size: 0.85em}
}
@media only screen and (max-height: 800px) {
    .navigation h1 {font-size: 0.9em;}
    #menu_recent #liens h2 {font-size: 0.8em;}
    .navigation h1 a {padding: 4px 10px 4px 20px;}
    #menu_recent #liens h2 a {padding: 7px 10px 7px 40px;}
    .navigation #nav_boutons_haut {height: 30px;}
}
@media only screen and (max-height: 700px) {
    .navigation h1 {font-size: 0.8em;}
    .navigation h1 a {padding: 3px 10px 3px 20px;}
    .navigation #nav_boutons_haut {height: 20px;}
    .navigation #bouton_parametres {background-size: 30px;}
}

/*-----------------------------------------------------------------------*/
/*-------------------------------- MOBILE -------------------------------*/
/*-----------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .only_mobile {display: initial;}
    .only_desktop {display: none;}
    .navigation {
        left:-112%;
        width: 100%;
    }
    .navigation h1 a{font-size: 0.8em;}
    #bandeau {top:60px;}
    #wait_ajax, #infos_refresh, #refresh_infobulle, #pifostats, #pifofiltres, #pifoprogression, #onglets, #bouton_legende, #bouton_aleatoire, #bouton_communes_voisines,
    #panneau_map #espace_bouton_copier, #panneau_map #contenu, #bouton_export_csv, #bouton_aide {display: none;}
    #bouton_refresh {width: 30px; height: 30px; right: 45px; top:15px; background-size: 25px;}
    #wait_ajax.pifomap {width: 30px; height: 30px; right: 45px; top:15px; background-size: 25px;}
    #wait_ajax_mobile {
        display: block;
        visibility: hidden;
        position:fixed;
        width: 30px; height: 30px;
        right: 45px; top:15px;
        background:url("../img/skate.gif") no-repeat lightblue center;
        background-size: 25px;
        border-bottom: 2px #3FA4C5 solid;
        border-radius: 6px;
        z-index: 2;
    }
    #bouton_localise_moi {
        top: 15px;
        right: 10px;
        background-size: 25px;
        width: 30px;
        height: 30px;
    }
    #bouton_aleatoire_vert_vert, #bouton_aleatoire_vert_rouge, #bouton_aleatoire_rouge_rouge {
        top: 15px;
        background-size: 25px;
        width: 30px;
        height: 30px;
    }
    #bouton_aleatoire_rouge_rouge {right:45px;}
    #bouton_aleatoire_vert_rouge {right:80px;}
    #bouton_aleatoire_vert_vert {right:115px;}
    #recentrer_commune {margin-left:10px; width: 30px; height: 30px;}
    #barre-jaune input[type="text"] {width: 50px;}
    #bandeau {height: 110px;}
    #bandeau #descriptif {width: 100%;}
    #bandeau #descriptif #infos_commune_col1, #bandeau #descriptif #infos_commune_col2 {margin:4px 0;}
    #descriptif.pifo #infos_commune_col2 h1 {margin: 0; font-size: 0.9em;}
    .encadre_aide {width:88%; padding-left: 25px; font-size: 0.85em}
    .bloc_fiche {
        width: 92%;
        margin: 2%
    }
    #filtre_lieuxdits_mobile {
        display:block;
        cursor: pointer;
        position: fixed;
        top: 120px;
        right: 20px;
        width: 60px;
        height: 35px;
        background: url("../img/lieuxdits.png") no-repeat wheat right 5px top 3px;
        border-bottom: 1px peru solid;
        border-radius: 6px;       
    }
    #reponse.pifomap{margin-top: 160px;} 
    #reponse.voies_a_cheval{margin-top:240px;}
    #reponse #map_div {
        margin:0;
        border:none;
        border-top: 2px solid lightblue;
        width: 100%;
    }
    #reponse #panneau_map {
        position: absolute;
        z-index: 2;
        background-color: white;
        bottom: 0px;
        width: 100%;
        height: 100px;
        border:none;
        border-top: 2px solid lightblue;
    }

    /*--------- TOPO BRUT ---------*/
    #listing_fantoir .nature_voie, #listing_fantoir .dpt, #listing_fantoir .insee, #listing_fantoir .car_voie, #listing_fantoir .car_annul,
    #listing_fantoir .type_voie, #listing_fantoir .mot_classant {display: none;}
}