/*-----------------------------------------------------------------------*/
/*-------------------------------- BANDEAU ------------------------------*/
/*-----------------------------------------------------------------------*/

#bandeau{
	position:fixed;
	top:50px;
	width:100%;
	height:150px;
	margin-left:10px;
	z-index:3;
	background-color:white;
}

h4 {
	font-size: 0.9em;
}

#descriptif {
	float: left;
	margin:0 20px;
	width: 50%;
}

/*-----------------------------------------------------*/
/*----------- ALERTE CHARGEMENT DES DONNEES -----------*/
/*-----------------------------------------------------*/

#wait_ajax {
	visibility:visible;
	float: left;
	width:45%;
	height: 100px;
	 /* doit être identique à height pour centrer verticalement */
	text-align: center;
	padding: 5px;
	background: url("../img/skate.gif") no-repeat lightblue left 5% top 50%;
	border-bottom: 4px #3FA4C5 solid;
	border-radius: 8px;
}
#wait_ajax p {
	vertical-align:middle;
	font-size:1.2em;
	font-weight: bold;
	color:black;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------------- REPONSE ------------------------------------*/
/*----------------------------------------------------------------------------------*/

#reponse{
	position:relative;
	margin-top:200px;
	width: 100%;
	font-size:0.9em;
	z-index:2;
	height: 75%;
	overflow-y: auto;
}

th {
	padding-bottom: 10px;
}
td {
	padding:1px 15px;
}
table.tablesorter tbody td,
table.tablesorter thead th {
	padding-left: 1em !important;
}

/*--------------- Couleur de ligne au survol -----------------*/

#reponse tr:hover td {
	background-color: #FCFFB7 !important;
}

/*----- Petites résolutions d'écran -----*/
@media only screen and (max-width: 1200px) {
td {padding:1px 5px;}
}

/*Première colonne avec codes Fantoir*/
.cell_fantoir {
	font-family: monospace;
	font-size: 1.3em;
}

.cellule_intitule{
	text-align: right;
}
.cellule_data{
	font-weight: bold;
}

.emphase{
	color:red;
	font-size: x-large;
}

.zone_click{
	cursor:pointer;
	color:blue;
	text-decoration: underline;
}
.zone_click.clicked{
	background-color:green;
	color:white;
}
#refresh_infos{
	position: fixed;
	width: 250px;
	height: 56px;
	top: 36px;
	right: 109px;
	display:none;
}
#refresh_infos span{
	font-weight: bold;
}
#bouton_refresh{
	position: fixed;
	background-image: url("img/72176-600.png");
	background-size: 49px 56px;
	background-repeat: no-repeat;
	width: 49px;
	height: 56px;
	top: 36px;
	right: 60px;
}
#infos_refresh{
	width:100%;
	height:200px;
	top:30px;
	left:0px;
	background-color:lightgrey;
	opacity:0.8;
	position:fixed;
	//visibility:hidden;
	display:none;
	z-index: 15;
}
#infobulle_aide{
	position: fixed;
	color: red;
	background: #dddddd;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	top: 40px;
	right: 10px;
	vertical-align: bottom;
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
}
#aide{
	position:fixed;
	top:35px;
	right:5px;
	width:400px;
	height:100%;
	background-color:lavender;
	overflow-y:scroll;
	visibility:hidden;
	z-index: 10;
}
#table_fantoir_errone tr td{
	background:white;
	color:black;
	font-weight: normal;
}


#pied_de_page{
	position:relative;
	width:100%;
	height:30px;
	z-index:3;
}