	body{
	    font-family: monospace;
	}
	#bandeau{
		top:0px;
		width:100%;
		height:100px;
		z-index:2;
		position:fixed;
		background-color:white;
	}
	#input_insee{
		top:10px;
	}
	#bandeau_commune{
		border-bottom-style: outset;
	}
	.titre_commune{
		margin-left:30px;
	}
	#reponse{
		position:absolute;
		top:100px
	}