#bandeau{
	top:70px;
	width:100%;
	height:70px;
	z-index:3;
	position:fixed;
	background-color:white;
}
h2 {
	margin: 10px 30px;
}
.titre_dept{
	margin: 10px 30px;
}
#reponse{
	position:absolute;
	top:130px;
	z-index:2;
}
#wait_ajax {
	visibility:visible;
	float: left;
	margin: 20px 2% 0 2%;
	width:45%;
	height: 100px;
	text-align: center;
	padding: 5px;
	background: url("../img/construction-grue.png") no-repeat lightblue left 5% top 50%;
	background-size: 90px;
	border-bottom: 4px #3FA4C5 solid;
	border-radius: 8px;
}
#wait_ajax p {
	vertical-align:middle;
	font-size:1.2em;
	font-weight: bold;
	color:black;
}
/*#wait_ajax{
	position:fixed;
	z-index:1;
	width:100%;
	height:100%;
	background-color:lightgray;
	opacity:0;
	text-align:center;
}
#wait_ajax span{
	background-color:black;
	vertical-align:middle;
	font-size:30px;
	line-height:500px;
	color:white;
	border:50px solid black;
}*/
#bouton_export_csv{
	position: fixed;
	top: 35px;
	right: 59px;
}
#bouton_export_csv a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#bouton_export_csv a img{
	height: 50px;
	width: 50px;
}
#infobulle_aide{
	position: fixed;
	color: red;
	background: #dddddd;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	top: 40px;
	right: 10px;
	vertical-align: bottom;
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
}
#aide{
	position:fixed;
	top:35px;
	right:5px;
	width:400px;
	height:100%;
	background-color:lavender;
	overflow-y:scroll;
	visibility:hidden;
	z-index: 10;
}
.fermer{
	color: red;
	float: right;
	border: 1px black solid;
	width: 20px;
	text-align: center;
	background: black;
	font-weight: bolder;
}
#aide h3{
	margin-top: 30px;
	margin-left: 10px;
}
#aide li{
	font-weight:bolder;
	background-color:ivory;
}
#aide p{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 3px;
}
table.tablesorter thead tr .header{
	//width:150px;
	height:60px;
}
table.tablesorter tbody tr td.Raster{
	color:#ffffff;
	text-align: center;
	font-weight:bolder;
	background: #000000;
}
table.tablesorter tbody tr td.Vecteur{
	text-align: center;
	font-weight:bolder;
	background: #ffbb00;
}