/*-----------------------------------------------------------------------*/
/*-------------------------------- BANDEAU ------------------------------*/
/*-----------------------------------------------------------------------*/

#bandeau{
	position:fixed;
	top:60px;
	height: 140px;
	padding-top:5px;
	width:100%;
	z-index:3;
	background-color:white;
}
#infos_commune{
	float: left;
	width: 65%;
	margin: 15px 0;
}

#infos_commune_col1 {
	float: left;
}
#date-maj,
#liens_commune {
	margin: 0 20px;
	line-height: 1.6em;
	font-size: 0.8em;
}
	.cellule_intitule,
	.cellule_data {
		float: left;
	}

#titre_commune{
	float: left;
	max-width: 500px;
	line-height: 2em;
	margin:0 30px -10px 30px;
}

/*-----------------------------------------------------------------------*/
/*-------------------------- CROIX ROUGE FERMER -------------------------*/
/*-----------------------------------------------------------------------*/

.fermer{
	color: red;
	float: right;
	border: 1px black solid;
	width: 20px;
	text-align: center;
	background: black;
	font-weight: bolder;
}

/*-----------------------------------------------------------------------*/
/*--------------------------- BOUTONS HAUT DROITE -----------------------*/
/*-----------------------------------------------------------------------*/

/*---------------------------------------------*/
#bouton_communes_voisines{
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 115px;
	background-image: url("../img/communes_voisines.png");
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
  border-bottom: 2px #64A02E solid; /*vert plus foncé*/
  border-radius: 6px;
}
#table_communes_voisines{
	position: fixed;
	border: solid 1px;
	//height: 100px;
	top: 40px;
	right: 119px;
	background-color:white;
	z-index:5;
	visibility:hidden;
}
#table_communes_voisines table tr td.lien_commune,
.lien_commune {
	color:blue;
	text-decoration: underline;
	cursor: pointer;
}
#table_communes_voisines table tr td.commune_centre{
	color:black;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: default;
	background-color: lightblue;
}
/*---------------------------------------------*/
#bouton_refresh{
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 65px;
	background: url("../img/refresh-black.png") no-repeat lightblue center;
	background-size: 33px;
	width: 40px;
	height: 40px;
  border-bottom: 2px #3FA4C5 solid;
  border-radius: 6px;
}
#refresh_infobulle{
	position: fixed;
	width: 250px;
	height: 56px;
	top: 90px;
	right: 20px;
	border: 1px grey solid;
	border-radius: 5px;
  padding: 5px;
	display:none;
	z-index: 5;
	background-color: white;
	font: 0.9em Arial,Sans-serif;
	text-align: right;
}
#refresh_infobulle span{
	font-weight: bold;
}
/*----------------------------------*/
#bouton_export_csv{
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 15px;
	background: url("../img/export-csv.png") no-repeat top;
	height: 40px;
	width: 40px;
	background-size: 40px;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------- BOUTONS FILTRES ----------------------------------*/
/*----------------------------------------------------------------------------------*/

#ligne-afficher {
	float: left;
}
#ligne-boutons-filtres {
	float: left;
	clear: both;
}

#boutons-filtres {
	display: inline-block;
	margin-left: 1%;
	width: 60%;
	font-size: 0.8em;
}

#boutons-filtres div {
	width: auto;
	padding: 3px 5px;
	display: inline-block;
}

#boutons-filtres ul {
  list-style-type: none;
}


/*---------------------------------------------------------------------------------------*/
/*------------------ ALERTE MAJ DES DONNEES BANO / ANCIENNE COMMUNE ---------------------*/
/*---------------------------------------------------------------------------------------*/

#wait_ajax,
#alerte_commune {
	visibility:hidden;
	position:fixed;
	width:45%;
	top:110px;
	right: 7%;
	height: 100px;
	text-align: center;
	padding: 5px;
  border-bottom: 4px #3FA4C5 solid;
  border-radius: 8px;
}

#wait_ajax {
	line-height: 90px; /* doit être identique à height pour centrer verticalement */
	background:lightblue;
}
#wait_ajax span{
	vertical-align:middle;
	font-size:1.8em;
	line-height:90px;
	color:black;
}
.fermer-alerte {
	color: black;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-weight: bold;
	background: orange;
  border-radius: 6px;
	cursor:pointer;
}

#alerte_commune {
	line-height: 40px;
	background:#FFDE6A;
  border-bottom: 4px #FFBB2D solid;
}
#alerte_commune p {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}


/*----------------------------------------------------------------------------------*/
/*------------------------------------- REPONSE ------------------------------------*/
/*----------------------------------------------------------------------------------*/

#reponse{
	position: relative;
	margin-top:230px;
	width: 100%;
	font-size:0.9em;
	z-index:2;
	height: 70%;
	overflow-y: auto;
}

#reponse tbody tr td:not(.zone-clic-josm):not(.zone-clic-adresses) {
	padding-left: 1em;
}

/*----------- LIGNE GRISEE, si statut fantoir pas OK -----------*/

#reponse tr td, 
#reponse tr td.zone-clic-josm,
#reponse tr td.zone-clic-adresses,
#reponse tr td.zone-clic-adresses a {
	background: #e6e6e6;
	color: #666;
}

#reponse tr.statut0 td {
	background: white;
	color: black;
}

/*--------------- Couleur de ligne au survol -----------------*/

#reponse tr:hover td,
#reponse tr.statut0:hover td,
#reponse tr:hover td span.zone-clic-adresses,
#reponse tr:hover td.zone-clic-adresses a {
	background-color: #FCFFB7 !important; /* jaune clair */
}

/*--------------- Pastilles, colonne Libelle OSM, correspondant aux filtres ---------------*/

.pastille-verte, .pastille-orange {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 10px 0 10px;
}
.pastille-verte {
  background-color: #48c78e;
}
.pastille-orange {
  background-color: #f1AC45;
}

/*--------------- Liens JOSM et adresses dans le tableau ---------------*/

.zone-clic,
.zone-clic-adresses,
.zone-clic-adresses a,
.zone-clic-josm {
	cursor:pointer;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

.zone-clic.clicked{
	background-color:green;
	color:white;
}

.statut0 .zone-clic-adresses,
.statut0 .zone-clic-adresses a {
	background-color: white !important;
	color:#D33A8B !important;
}
.statut0 .zone-clic-adresses.clicked,
.statut0 .zone-clic-adresses.clicked a {
	background-color:#D33A8B !important;
	color:white !important;
}
.statut0:hover .zone-clic-adresses.clicked,
.statut0:hover .zone-clic-adresses.clicked a {
	color:black !important;
}

.statut0 .zone-clic-josm{
	background-color: white !important;
	color:#863602 !important; /* Marron logo JOSM */
}
.statut0 .zone-clic-josm.clicked{
	background-color:#863602 !important;
	color:white !important;
}
.statut0:hover .zone-clic-josm.clicked{
	color:black !important;
}

#reponse tr.statut0 td.cell_fantoir.annule{
        background:#FFCF6A;
}


/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------------------------------ RESPONSIVE ---------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1900px) {
	#alerte_commune, #wait_ajax {
		right: 3%;
	}
}

@media only screen and (max-width: 1700px) {
	#alerte_commune, #wait_ajax {
		width: 40%;
		right: 1%;
		line-height:40px;
	}
}

@media only screen and (max-width: 1500px) {
	h1 {font-size: 1.6em;}
	#boutons-filtres {
		font-size: 0.75em;
	}
	#alerte_commune, #wait_ajax {
		width: 35%;
	}
	#alerte_commune p, #wait_ajax span {
		font-size: 1em;
	}
}

@media only screen and (max-width: 1400px) {
	#boutons-filtres {
		width: 65%;
	}
}

@media only screen and (max-width: 1300px) {
	h1 {font-size: 1.5em;}
	#boutons-filtres {
		font-size: 0.7em;
	}
	#alerte_commune {
		line-height:28px;
	}
}

@media only screen and (max-width: 1200px) {
	h1 {font-size: 1.4em;}
	#titre_commune{margin:0 20px;}
	#bandeau_commune{margin-left:5px;}
	#boutons-filtres {width:70%;}
	#boutons-filtres div {padding: 3px 0;}
	#alerte_commune, #wait_ajax {
		width: 23%;
		right: 1%;
		line-height:30px;
	}
}