

/*-----------------------------------------------------------------------*/
/*--------------------------- BOUTONS HAUT DROITE -----------------------*/
/*-----------------------------------------------------------------------*/

/*---------------------------------------------*/
#bouton_communes_voisines{
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 115px;
	background-image: url("../img/communes_voisines.png");
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
  border-bottom: 2px #64A02E solid; /*vert plus foncé*/
  border-radius: 6px;
}
#table_communes_voisines{
	position: fixed;
	top: 40px;
	right: 190px;
	padding: 5px;
	background-color:white;
	border: solid 1px #64A02E;
  border-bottom: 2px #64A02E solid; /*vert plus foncé*/
  border-radius: 6px;
	visibility:hidden;
}
#table_communes_voisines table tr td.lien_commune,
.lien_commune {
	padding: 4px;
	color:#436B1F;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
#table_communes_voisines table tr td.commune_centre{
	padding: 0 4px;
	color:white;
	background-color: #D96E44;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
  border-radius: 4px;
	cursor: default;
}

.fermer {
	color: black;
	float: right;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-weight: bold;
	background: #B2DF8A;
  border-radius: 4px;
	cursor:pointer;
}

/*---------------------------------------------*/
#bouton_refresh{
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 65px;
	background: url("../img/refresh-black.png") no-repeat lightblue center;
	background-size: 33px;
	width: 40px;
	height: 40px;
  border-bottom: 2px #3FA4C5 solid;
  border-radius: 6px;
}
#refresh_infobulle{
	position: fixed;
	width: 250px;
	height: 56px;
	top: 90px;
	right: 20px;
	border: 1px grey solid;
	border-radius: 5px;
  padding: 5px;
	display:none;
	z-index: 5;
	background-color: white;
	font: 0.9em Arial,Sans-serif;
	text-align: right;
}
#refresh_infobulle span{
	font-weight: bold;
}
/*----------------------------------*/



/*----------------------------------------------------------------------------------*/
/*------------------------------- BOUTONS FILTRES ----------------------------------*/
/*----------------------------------------------------------------------------------*/

#ligne-afficher {
	float: left;
}
.ligne-boutons-filtres {
	float: left;
	clear: both;
}

#boutons-filtres {
	display: inline-block;
	margin-left: 2%;
	width: 55%;
	padding: 5px 0.5%;
	background:#ECF5F9;
  border-bottom: 2px lightblue solid;
  border-radius: 6px;
	font-size: 0.8em;
}

#boutons-filtres div {
	width: auto;
	padding: 2px;
	display: inline-block;
}

#boutons-filtres ul {
  list-style-type: none;
}


/*---------------------------------------------------------------------------------------*/
/*------------------ ALERTE MAJ DES DONNEES BANO / ANCIENNE COMMUNE ---------------------*/
/*---------------------------------------------------------------------------------------*/

#wait_ajax,
#alerte_commune {
	visibility:hidden;
	position:fixed;
	width:35%;
	top:120px;
	right:2%;
	height: 100px;
	text-align: center;
	padding: 5px;
  border-bottom: 4px #3FA4C5 solid;
  border-radius: 8px;
}

#wait_ajax {
	line-height: 90px; /* doit être identique à height pour centrer verticalement */
	background:lightblue;
}
#wait_ajax span{
	vertical-align:middle;
	font-size:1.8em;
	line-height:90px;
	color:black;
}
.fermer-alerte {
	color: black;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-weight: bold;
	background: orange;
  border-radius: 6px;
	cursor:pointer;
}

#alerte_commune {
	line-height: 40px;
	background:#FFDE6A;
  border-bottom: 4px #FFBB2D solid;
}
#alerte_commune p {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}


/*----------------------------------------------------------------------------------*/
/*------------------------------------- REPONSE ------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*--------------- Changement de statut : validation ---------------*/

td.cell_statut {
	padding-right: 90px;
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------------------------------ RESPONSIVE ---------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1700px) {
	#boutons-filtres {
		font-size: 0.7em;
	}
	#alerte_commune, #wait_ajax {
		font-size: 0.8em;
		line-height:40px;
	}
	#reponse {
		height: 60%;
	}
	.tablesorter-default {
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 1400px) {
	#boutons-filtres {
		width: 60%;
	}
	#alerte_commune, #wait_ajax {
		right: 1%;
	}
	.tablesorter-default {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 1300px) {
	h1 {font-size: 1.5em;}
	#boutons-filtres {
		margin-left: 1%;
		width: 67%;
	}
	#alerte_commune, #wait_ajax {
		width: 30%;
		font-size: 0.7em;
		line-height:30px;
	}
}

@media only screen and (max-width: 1200px) {
	h1 {font-size: 1.4em;}
	#titre_commune{margin:0 20px;}
	#bandeau_commune{margin-left:5px;}
	#boutons-filtres {
		width: 72%;
	}
	#alerte_commune, #wait_ajax {
		width: 25%;
		line-height:25px;
	}
}

@media only screen and (max-width: 1100px) {
	#boutons-filtres {
		width: 75%;
	}
	#alerte_commune, #wait_ajax {
		width: 20%;
		font-size: 0.5em;
	}
}

@media only screen and (max-width: 1050px) {
	#reponse {
	margin-top:280px;
	}
	#infos_commune_col1 {
		font-size: 0.9em;
	}
}