/*-----------------------------------------------------------------------*/
/*-------------------------------- BANDEAU ------------------------------*/
/*-----------------------------------------------------------------------*/

#bandeau{
	position:fixed;
	top:60px;
	height: 140px;
	padding-top:10px;
	width:100%;
	z-index:3;
	background-color:white;
}
#bandeau_commune{
	margin-left:20px;
}
.titre_commune{
	margin:0 40px;
}
.cellule_intitule{
	font-size: 0.9em;
	text-align: right
}
.cellule_data{
	font-size: 0.9em;
	font-weight: bold;
}

/*------- Petites résolutions d'écran ----------*/
@media only screen and (max-width: 1500px) {
	h1 {font-size: 1.6em;}
}
@media only screen and (max-width: 1300px) {
	h1 {font-size: 1.5em;}
}
@media only screen and (max-width: 1200px) {
	h1 {font-size: 1.4em;}
	.cellule_intitule{font-size: 0.7em;}
	.cellule_data{font-size: 0.7em;}
	.titre_commune{margin:0 20px;}
	#bandeau_commune{margin-left:5px;}
}

/*-----------------------------------------------------------------------*/
/*-------------------------- CROIX ROUGE FERMER -------------------------*/
/*-----------------------------------------------------------------------*/

.fermer{
	color: red;
	float: right;
	border: 1px black solid;
	width: 20px;
	text-align: center;
	background: black;
	font-weight: bolder;
}

/*-----------------------------------------------------------------------*/
/*--------------------------- BOUTONS HAUT DROITE -----------------------*/
/*-----------------------------------------------------------------------*/

/*---------------------------------------------*/
#bouton_communes_voisines{
	cursor: pointer;
	position: fixed;
	background-image: url("../img/communes_voisines.png");
	background-size: 40px 40px;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	top: 40px;
	right: 119px;
	z-index:4;
}
#table_communes_voisines{
	position: fixed;
	border: solid 1px;
	//height: 100px;
	top: 40px;
	right: 119px;
	background-color:white;
	z-index:5;
	visibility:hidden;
}
#table_communes_voisines table tr td.lien_commune{
	color:blue;
	text-decoration: underline;
	cursor: pointer;
}
#table_communes_voisines table tr td.commune_centre{
	color:black;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: default;
	background-color: lightblue;
}
/*---------------------------------------------*/
#bouton_refresh{
	cursor: pointer;
	position: fixed;
	background-image: url("../img/refresh.png");
	background-size: 40px 40px;
	background-repeat: no-repeat;
	width: 49px;
	height: 56px;
	top: 40px;
	right: 60px;
}
#refresh_infobulle{
	position: fixed;
	width: 250px;
	height: 56px;
	top: 90px;
	right: 20px;
	border: 1px grey solid;
	border-radius: 5px;
    padding: 5px;
	display:none;
	z-index: 5;
	background-color: white;
	font: 0.9em Arial,Sans-serif;
	text-align: right;
}
#refresh_infobulle span{
	font-weight: bold;
}

/*----------------------------------*/

#infos_refresh{ /* ------------------------ ????????????????? ----------------------- */
	width:100%;
	height:200px;
	top:30px;
	left:0px;
	background-color:lightgrey;
	opacity:0.8;
	position:fixed;
	display:none;
	z-index: 15;
}

/*----------------------------------*/

#bouton_export_csv{
	position: fixed;
	top: 35px;
	right: 17px;
}
#bouton_export_csv a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#bouton_export_csv a img{
	height: 50px;
	width: 50px;
}

/*----------------------------------*/

#wait_ajax{
	position:fixed;
	top:60px;
	z-index:1;
	width:100%;
	height:100%;
	background-color:lightgray;
	visibility: hidden;
	text-align:center;
}
#wait_ajax span{
	background-color:black;
	vertical-align:middle;
	font-size:30px;
	line-height:500px;
	color:white;
	border:50px solid black;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------- BOUTONS FILTRES ----------------------------------*/
/*----------------------------------------------------------------------------------*/

#boutons-filtres {
	display: inline-block;
	margin-left: 5%;
	margin-top: 30px;
	width: 60%;
	font-size: 0.9em;
}

#boutons-filtres div {
	width: auto;
	padding: 3px 5px;
	display: inline-block;
}

#boutons-filtres ul {
  list-style-type: none;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------------- REPONSE ------------------------------------*/
/*----------------------------------------------------------------------------------*/

#reponse{
	position: relative;
	margin-top:220px;
	width: 100%;
	font-size:0.9em;
	z-index:2;
	height: 70%;
	overflow-y: auto;
}

#reponse tbody tr td:not(.zone-clic-josm):not(.zone-clic-adresses) {
	padding-left: 1em;
}

/*----------- LIGNE GRISEE, si statut fantoir pas OK -----------*/

#reponse tr td, 
#reponse tr td.zone-clic-josm,
#reponse tr td.zone-clic-adresses,
#reponse tr td.zone-clic-adresses a {
	background: #e6e6e6;
	color: #666;
}

#reponse tr.statut0 td {
	background: white;
	color: black;
}

/*--------------- Couleur de ligne au survol -----------------*/

#reponse tr:hover td,
#reponse tr.statut0:hover td,
#reponse tr:hover td span.zone-clic-adresses,
#reponse tr:hover td.zone-clic-adresses a {
	background-color: #FCFFB7 !important;
}

/*--------------- ALERTE ANCIENNE COMMUNE --------------------*/

#alerte_commune{
	position:fixed;
	width:100%;
	height: 150px;
	background:#FFCF6A;
	overflow-y:scroll;
	visibility:hidden;
	z-index: 10;
}
#alerte_commune h3{
	text-align: center;
}


/*--------------- Contenu tableau ---------------*/

.table_liste{
	display:none;
}

/*--------------- Pastilles correspondant aux filtres ---------------*/

.pastille-verte {
  height: 15px;
  width: 15px;
  background-color: #48c78e;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 10px 0 10px;
}
.pastille-orange {
  height: 15px;
  width: 15px;
  background-color: #f1AC45;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 10px 0 10px;
}

/*--------------- Liens JOSM et adresses dans le tableau ---------------*/

.zone-clic,
.zone-clic-adresses,
.zone-clic-adresses a,
.zone-clic-josm {
	cursor:pointer;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

.zone-clic.clicked{
	background-color:green;
	color:white;
}

.statut0 .zone-clic-adresses,
.statut0 .zone-clic-adresses a {
	background-color: white !important;
	color:#D33A8B !important;
}
.statut0 .zone-clic-adresses.clicked,
.statut0 .zone-clic-adresses.clicked a {
	background-color:#D33A8B !important;
	color:white !important;
}

.statut0 .zone-clic-josm{
	background-color: white !important;
	color:#863602 !important; /* Marron logo JOSM */
}
.statut0 .zone-clic-josm.clicked{
	background-color:#863602 !important;
	color:white !important;
}
