#bandeau{
	top:60px;
	width:100%;
	height:70px;
	z-index:3;
	position:fixed;
	background-color:white;
	border-bottom: 1px solid black;
}
h2 {
	margin: 10px 30px;
}
#reponse{
	position:absolute;
	top:120px;
	z-index:2;
}
#credits{
	background:darkgrey;
	position:fixed;
	bottom:0px;
	width:100%;
	overflow:visible;
	z-index:4;
	text-align: justify;
}
#pied_de_page{
	position:relative;
	width:100%;
	height:30px;
	z-index:3;
}
.zone_click{
	cursor:pointer;
	color:blue;
	text-decoration: underline;
}
.zone_click.clicked{
	background-color:green;
	color:white;
}
#wait_ajax{
	position:fixed;
	top:60px;
	z-index:1;
	width:100%;
	height:100%;
	background-color:lightgray;
	opacity:0;
	text-align:center;
}
#wait_ajax span{
	background-color:black;
	vertical-align:middle;
	font-size:30px;
	line-height:500px;
	color:white;
	border:50px solid black;
}
#table_top_adresses tr td{
	background:white;
	color:black;
	font-weight: normal;
}
#table_top_adresses tr td.clicked{
	background-color:green;
	color:white;
	font-weight: normal;
}
table.tablesorter thead tr .header {
	height:40px;
}