body{
	font-family: 'Arial', sans serif;
    margin: 0;
    padding: 0;
	}

button {
	border: none;
	background: transparent;
	margin: 0;
}

h1 {
	margin: 0;
	font-size: 1.8em;
}
h2 {
	font-size: 1.4em;
	line-height: 0.5em;
}
.page_numeros h2 {
	line-height: 0.1em;
}
h3 {
	font-size: 0.9em;
}
h4 {
	font-size: 0.9em;
}

.monospace {
	background: #EEF;
	font-family: monospace;
	font-size: 1.2em;
	font-weight: normal;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*---------------                                                       ---------------*/
/*---------------                      PAGE AIDE                        ---------------*/
/*---------------                                                       ---------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

#aide_contenu {
	margin: 50px 2% 0 2%;
	font-size: 0.9em;
}
#aide_contenu h2 {
	font-size: 1.6em;
}
#aide_contenu h3 {
	font-size: 1.3em;
	color: darkgreen;
}
#aide_contenu p img {
    display: inline-block;
    vertical-align: middle;
}
#aide_contenu .titre_para {
	font-weight: bold;
}
.aide_capture {
	width: 600px;
	border: 2px solid #B1DE89;
	padding: 5px;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*---------------                                                       ---------------*/
/*---------------                    MENUS DU HAUT                      ---------------*/
/*---------------                                                       ---------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*------------------------------ MENU VERT ------------------------------*/
/*-----------------------------------------------------------------------*/

#topnav {
    position: fixed;
    top:0;
    overflow: hidden;
    background:#B1DE89;
    width: 100%;
    height: 30px;
    padding: 0;
}

#topnav .bouton_nav {
    float:left;
    margin: 0;
    padding: 6px 20px 7px;
    font-family: 'Arial', sans serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}

#topnav a:hover {
    color: #fff;
    background:#333;
}

#topnav .menu_actif {
    float:left;
    margin: 0;
    padding: 7px 20px 7px;
    font-family: 'Arial', sans serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background:#444;
}

/*-----------------------------------------------------------------------*/
/*------------------------------ MENU JAUNE -----------------------------*/
/*-----------------------------------------------------------------------*/

#barre-jaune {
    position: fixed;
    top: 30px;
    width: 100%;
    height: 24px;
    box-sizing: initial;
    padding: 3px 10px;
    background-color: #faff99;
    font-family: 'Arial', sans serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}

#barre-jaune span {
    vertical-align: middle;
}

#barre-jaune form {
    display: inline;
}

#barre-jaune form input {
    height:22px;
    vertical-align: middle;
    line-height: 1em;
}

#barre-jaune input[type="text"] {
    border: 1px solid #777;
    border-radius: 3px;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*---------------                                                       ---------------*/
/*---------------                ENCADRÉ BLEU A DROITE                  ---------------*/
/*---------------                CHARGEMENT ET ALERTE                   ---------------*/
/*---------------                                                       ---------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

#wait_ajax {
	visibility:hidden;
	float: left;
	margin: 0 2%;
	width:40%;
	height: 100px;
	text-align: center;
	padding: 5px;
	background: url("../img/skate.gif") no-repeat lightblue left 5% top 50%;
	border-bottom: 4px #3FA4C5 solid;
	border-radius: 8px;
}
#wait_ajax.bas {
	margin: 20px 2% 0 2%;
}
#wait_ajax p {
	vertical-align:middle;
	font-size:1.2em;
	font-weight: bold;
	color:black;
}

/*-----------------------------------------------*/
/*----------------- VERSION PIFO ----------------*/
/*-----------------------------------------------*/

#wait_ajax.pifo, #wait_ajax.pifomap, #alerte_commune {
	visibility:hidden;
	position:fixed;
	width:35%;
	right:2%;
	text-align: center;
	padding: 5px;
	background:lightblue;
	border-bottom: 4px #3FA4C5 solid;
	border-radius: 8px;
}

#wait_ajax.pifo span, #wait_ajax.pifomap span {
	vertical-align:middle;
	font-size:1.8em;
	color:black;
}

/*----------------- PIFOMETRE ----------------*/

#wait_ajax.pifo, #alerte_commune {
	top:120px;
	height: 100px;
}

#wait_ajax.pifo span {
	line-height: 90px; /* doit être identique à height pour centrer verticalement */
}

/*----------------- PIFOMAP ----------------*/

#wait_ajax.pifomap {
	top:90px;
	height:60px;
}

#wait_ajax.pifomap span {
	line-height:60px; /* doit être identique à height pour centrer verticalement */
}

/*---------LEGENDE ---------------*/
/*#bouton_legende {
	cursor: pointer;
	top:90px;
	height:60px;
	position:fixed;
	width:35%;
	right:2%;
	padding: 5px;
	background: pink;
	border: 1px violet solid;
	border-bottom: 4px violet solid;
	border-radius: 8px;
}*/

#bouton_legende {
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 20px;
	background: pink;
	background-size: 33px;
	width: 85px;
	height: 40px;
	border-bottom: 2px violet solid;
	border-radius: 6px;
}

#bouton_legende p {
	text-align: center;
	vertical-align:middle;
	font-size:1em;
	line-height: 0.8em;
	font-weight: bold;
	color:black;
}

#legende.pifomap {
	position:fixed;
	top:40px;
	right:10px;
	width:400px;
	height:80%;
	padding: 10px;
	border-radius: 8px;
	background-color:#FFE1E6; /*rose léger*/
	overflow-y:scroll;
	visibility:hidden;
	font-size: 0.9em;
}

#legende.pifomap .fermer {
	color: black;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-weight: bold;
	background: violet;
  	border-radius: 6px;
	cursor:pointer;
}

#legende.pifomap h3{
	font-size: 1.1em;
	margin-top: 30px;
	margin-left: 10px;
}
#legende.pifomap li{
	font-weight:bolder;
	background-color:ivory;
}
#legende.pifomap p{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 3px;
}

#legende.pifomap p .osm_seulement {
	background-color: #fff;
	color: #135495; /*bleu*/
}
#legende.pifomap p span.rapproche {
	background-color: #fff;
	color: green; /*vert*/
}
#legende.pifomap p .non_rapproche {
	background-color: #fff;
	color: red; /*orange*/
}
#legende.pifomap p .point.integre {
	height: 7px;
	width: 7px;
	display: inline-block;
	background-color: green;
	border-radius: 50%;
	margin: 2px 10px 0 10px;
	-ms-transform: rotate(45deg); /* Internet Explorer */
	-moz-transform: rotate(45deg); /* Firefox */
	-webkit-transform: rotate(45deg); /* Safari et Chrome */
	-o-transform: rotate(45deg); /* Opera */
	margin: 2px;
}
#legende.pifomap p .point.non_integre {
	height: 7px;
	width: 7px;
	display: inline-block;
	background-color: #EFA500;
	border-radius: 50%;
	margin: 2px 10px 0 10px;
	-ms-transform: rotate(45deg); /* Internet Explorer */
	-moz-transform: rotate(45deg); /* Firefox */
	-webkit-transform: rotate(45deg); /* Safari et Chrome */
	-o-transform: rotate(45deg); /* Opera */
	margin: 2px;
}

/*---------------------------------------------------*/
/*------------ ALERTE COMMUNE FUSIONNEE -------------*/
/*---------------------------------------------------*/

#alerte_commune {
	line-height: 40px;
	background:#FFDE6A;
  border-bottom: 4px #FFBB2D solid;
}
#alerte_commune p {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

.fermer-alerte {
	color: black;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-weight: bold;
	background: orange;
  border-radius: 6px;
	cursor:pointer;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*---------------                                                       ---------------*/
/*---------------                  BOUTONS A DROITE                     ---------------*/
/*---------------                                                       ---------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

#bouton_v2 {
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 215px;
	background: url("../img/bouton_v2.png") #cacaca no-repeat center;
	width: 40px;
	height: 40px;
	border-bottom: 2px #8f8f8f solid; /*gris*/
	border-radius: 6px;
}

#bouton_export_csv{
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 65px;
	background: url("../img/export-csv.png") no-repeat top;
	height: 40px;
	width: 40px;
	background-size: 40px;
}

/*------------------ Voies récentes manquantes + page stats, à moderniser -------------------*/

#bouton_export_csv a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#bouton_export_csv a img{
	height: 50px;
	width: 50px;
}

/*-------------------------------------------------------------------*/
/*--------------------- PIFO : COMMUNES VOISINES --------------------*/
/*-------------------------------------------------------------------*/

#bouton_communes_voisines{
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 165px;
	background-image: url("../img/communes_voisines.png");
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	border-bottom: 2px #64A02E solid; /*vert plus foncé*/
	border-radius: 6px;
}
#table_communes_voisines{
	position: fixed;
	top: 40px;
	right: 190px;
	padding: 5px;
	background-color:white;
	border: solid 1px #64A02E;
	border-bottom: 2px #64A02E solid; /*vert plus foncé*/
	border-radius: 6px;
	visibility:hidden;
}
#table_communes_voisines table tr td.lien_commune,
.lien_commune {
	padding: 4px;
	color:#436B1F;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
#table_communes_voisines table tr td.commune_centre{
	padding: 0 4px;
	color:white;
	background-color: #D96E44;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	cursor: default;
}

#table_communes_voisines .fermer {
	color: black;
	float: right;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-weight: bold;
	background: #B2DF8A;
  border-radius: 4px;
	cursor:pointer;
}

/*-------------------------------------------------------------------*/
/*-------------------------- PIFO : REFRESH -------------------------*/
/*-------------------------------------------------------------------*/

#bouton_refresh{
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 115px;
	background: url("../img/refresh-black.png") no-repeat lightblue center;
	background-size: 33px;
	width: 40px;
	height: 40px;
	border-bottom: 2px #3FA4C5 solid;
	border-radius: 6px;
}
#refresh_infobulle{
	position: fixed;
	width: 250px;
	height: 56px;
	top: 90px;
	right: 20px;
	border: 1px grey solid;
	border-radius: 5px;
	padding: 5px;
	display:none;
	z-index: 5;
	background-color: white;
	font: 0.9em Arial,Sans-serif;
	text-align: right;
}
#refresh_infobulle span{
	font-weight: bold;
}

/*-------------------------------------------------------------------*/
/*-------------------------------- AIDE -----------------------------*/
/*-------------------------------------------------------------------*/

#bouton_aide {
	cursor: pointer;
	position: fixed;
	top: 40px;
	right: 20px;
	background: url("../img/aide.png") no-repeat pink center;
	background-size: 33px;
	width: 40px;
	height: 40px;
	border-bottom: 2px violet solid;
	border-radius: 6px;
}

#aide_stats {
	position:fixed;
	top:35px;
	right:10px;
	width:400px;
	height:100%;
	padding: 10px;
	border-radius: 8px;
	background-color:#FFE1E6; /*rose léger*/
	overflow-y:scroll;
	visibility:hidden;
	font-size: 0.9em;
}
#aide_stats .fermer {
	color: black;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-weight: bold;
	background: violet;
  	border-radius: 6px;
	cursor:pointer;
}

#aide_stats h3{
	margin-top: 30px;
	margin-left: 10px;
}
#aide_stats li{
	font-weight:bolder;
	background-color:ivory;
}
#aide_stats p{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 3px;
}


/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*---------------                                                       ---------------*/
/*---------------                       BANDEAU                         ---------------*/
/*---------------                                                       ---------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

#bandeau{
	position:fixed;
	top:60px;
	padding-top:5px;
	width:100%;
}

#bandeau.haut{
	top:30px;
}

#infos_commune{
	float: left;
	width: 65%;
	margin: 15px 0;
}

#titre_commune_inconnue {
	margin-left: 3em;
}

#infos_commune_col1 {
	float: left;
}

#descriptif #infos_commune_col1 {
	margin: 15px 0;
}

#date-maj,
#liens_commune,
#liens_voie {
	clear: both;
	margin: 0;
	line-height: 1.6em;
	font-size: 0.9em;
}

.cellule_intitule,
.cellule_data {
	float: left;
}

#infos_commune_col2 {
	float: left;
	max-width: 500px;
	line-height: 2em;
	margin:0 30px -10px 30px;
}
.page_numeros #infos_commune_col2 {
	max-width: 400px;
	margin:0;
	margin-left: 15px;
}


/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*---------------                                                       ---------------*/
/*---------------                   BOUTONS FILTRES                     ---------------*/
/*---------------                   PIFO ET NUMEROS                     ---------------*/
/*---------------                                                       ---------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

#boutons-filtres {
	display: inline-block;
	padding: 0.6%;
	background:#ECF5F9;
	border-bottom: 2px lightblue solid;
	border-radius: 6px;
	font-size: 0.8em;
}

#boutons-filtres.pifo {
	margin-left: 2%;
	width: 55%;
}
#boutons-filtres.page_numeros {
	float: left;
	margin:1% 0 0 2%;
	padding: 10px 0 10px 10px;
}

#boutons-filtres div {
	width: auto;
	display: inline-block;
}

#boutons-filtres ul {
  list-style-type: none;
  margin:0;
}
#boutons-filtres.page_numeros ul {
  padding: 0 20px 0 0;
}

#boutons-filtres ul li {
  margin: 0.2em 0;
}

#ligne-afficher, p#ligne-afficher {
	float: left;
	margin:0;
	font-weight: bold;
}

.ligne-boutons-filtres {
	float: left;
	clear: both;
}
.ligne-boutons-filtres p {
	font-weight: bold;
}
.page_numeros .ligne-boutons-filtres p {
	margin:0;
}

#descriptif {
	float: left;
	margin:0 2%;
	width: 50%;
}

#descriptif.page_numeros {
	width: 44%;
	margin-right: 0;
	white-space: normal;
}

#descriptif.pifo #infos_commune_col2 h1 {
	margin:revert;
}

/*-------------------------------------------------------------------*/
/*----------------- PAGE QUALIFICATION DES ADRESSES -----------------*/
/*------ Descriptif de la voie ou du lieu-dit en deux colonnes ------*/
/*-------------------------------------------------------------------*/

#descriptif_col1 {
	float: left;
	margin:0 4%;
}
#descriptif_col2 {
	float: left;
	margin-left: 1em;
	padding: 0.5em 2em;
}
#type_voie {
	margin-bottom: 1.2em;
}
#integration a {
	color: #EC0080;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*---------------                                                       ---------------*/
/*---------------                       RÉPONSE                         ---------------*/
/*---------------                                                       ---------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*------------------------------------------------------*/
/*--------------------- PAGINATION ---------------------*/
/*------------------------------------------------------*/

.pagination {
	float: right;
	display: inline-block;
	margin: 0 1% 20px 0;
	font-size: 0.9em;
}

.pagination p {
	display: inline;
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.pagination div {
  float: left;
  padding: 8px 16px;
  border: 1px solid #ddd;
}

.pagination a {
  color: black;
  text-decoration: none;
}

.pagination div.active {
  background-color: #00A779;
  color: white;
  border: 1px solid #00A779;
  cursor:default;
}

.pagination div:hover:not(.active) {background-color: #ddd;}

.pagination div:first-child {
	font-weight: bold;
}

.pagination div#prem {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination div#dern {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*------------------------------------------------------*/
/*--------------------- PAGE NUMEROS -------------------*/
/*------------------ TABLEAU ET CARTE ------------------*/
/*------------------------------------------------------*/

#reponse_et_map {
	position:relative;
	margin-top:310px;
	margin-left: 2%;
	width: 100%;
	height:65%;
	overflow-y: auto;
}

/*------------------------------------------------------*/
/*----------------------- TABLEAU ----------------------*/
/*------------------------------------------------------*/

#reponse{
	position:relative;
	margin-top:240px;
	width: 100%;
	font-size:0.9em;
	height: 70%;
	overflow-y: auto;
}
#reponse.haut{
	margin-top:200px;
	height: 73%;
}
#reponse.pifo{
	margin-top:265px;
	height: 65%;
}
#reponse.pifomap{
	margin-top:170px;
	height:calc(100vh - 200px);
}
#reponse.page_numeros{
	float: left;
	margin:0;
	width:40%;
	height: 90%;
}

th {
	padding-bottom: 10px;
}
td {
	padding:1px 15px;
}
table.tablesorter tbody td:not(.zone-clic-josm):not(.zone-clic-id):not(.cell_mauvais_fantoir):not(.zone-clic-adresses),
table.tablesorter thead th {
	padding-left: 1.2em;
}

/*------------------------------------------------------*/
/*----------------------- PIFOMAP ----------------------*/
/*------------------------------------------------------*/

#reponse #panneau_map {
	float: left;
	margin:0;
	width:15%;
	height:calc(100% - 4px);
	border-radius: 6px;
	border:2px solid lightblue;
	border-bottom: 2px solid lightblue;
}

#panneau_map h2 {
	font-size: 1.2em;
	text-align: center;
	line-height: 1.5em;
}

#panneau_map h3 {
	text-align: left;
	font-size: 1.1em;
	line-height: 1.2em;
}

#panneau_map #contenu {
	margin-left: 5px;
	font-size: 0.9em;
}

#panneau_map .pastille-verte {
  margin-left: 0;
}

#reponse #map_div {
	float: left;
	margin:0 0 0 -3px;
	width:calc(85% - 5px);
	height:calc(100% - 4px);
	border:2px solid lightblue;
}

#pifomap_table_liens {
	font-size: 1em;
}

#pifomap_table_liens td {
	padding: 3px 0;
}

#pifomap_table_liens h3 {
	line-height: 0.9em;
	margin: 10px 0 0 0;
}

#pifomap_table_liens .zone-clic-josm,
#pifomap_table_liens .zone-clic-id,
#pifomap_table_liens .zone-clic-adresses,
#pifomap_table_liens .zone-adresses {
	text-align: left;
}


/*---------------------------------------------------------------*/
/*----------------------------- SURVOL --------------------------*/
/*---------------------------------------------------------------*/

#reponse tr:hover td,
#reponse_numeros tr:hover td,
#reponse_haut tr:hover td {
	background-color: #FCFFB7;
}

#reponse #pifomap_table_liens tr:hover td,
#reponse_numeros #pifomap_table_liens tr:hover td,
#reponse_haut #pifomap_table_liens tr:hover td {
	background: none;
}

/*---------------------------------------------------------------*/
/*------------------- LIGNE GRISÉE STATUT PAS OK ----------------*/
/*---------------------------------------------------------------*/

#reponse table.avec_statuts tr:not(.statut0):not(.statut_vide) td {
	background: #e6e6e6;
}

/*---------------------------------------------------------------*/
/*------------------ COLONNE AVEC CODES FANTOIR -----------------*/
/*---------------------------------------------------------------*/

.cell_fantoir {
	font-family: monospace;
	font-size: 1.3em;
}

.cell_mauvais_fantoir {
	font-family: monospace;
	font-size: 1.3em;
	background: url("../img/warning.png") no-repeat left 8% top 30%;
	background-size: 20px 20px;
	padding-left: 2.7em !important;
	font-weight: bold;
	color: #FF6600;
}

#reponse tr.statut0 td.cell_fantoir.annule{
	background: url("../img/warning.png") no-repeat left 8% top 30%;
	background-size: 20px 20px;
	padding-left: 2.5em;
	font-weight: bold;
	color: #FF6600;
}

/*---------------------------------------------------------------*/
/*-------------- PASTILLES CORRESPONDANT AUX FILTRES ------------*/
/*---------------------------------------------------------------*/

.pastille-verte, .pastille-grise, .pastille-bleue {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 2px 10px 0 10px;
}

.pastille-verte {border-radius: 50%;}
.pastille-bleue, .pastille-grise {border-radius: 30%;}
.pastille-orange {
	height: 13px;
	width: 13px;
	display: inline-block;
	margin: 2px 10px 0 10px;
	-ms-transform: rotate(45deg); /* Internet Explorer */
	-moz-transform: rotate(45deg); /* Firefox */
	-webkit-transform: rotate(45deg); /* Safari et Chrome */
	-o-transform: rotate(45deg); /* Opera */
	margin: 3px 10px 0 10px;
}

.pastille-verte {background-color: #00A779;}
.pastille-orange {background-color: #EFA500;}
.pastille-bleue {background-color: #56B4E9;}
.pastille-grise {background-color: lightgrey;}


/*---------------------------------------------------------------*/
/*------------------ PICTO SOURCE BAN ou CADASTRE ---------------*/
/*---------------------------------------------------------------*/

.picto {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin: 2px 5px 0 5px;
}
.picto.cadastre {
  background: url("../img/cadastre.png") no-repeat;
}
.picto.ban {
  background: url("../img/ban.png") no-repeat;
}

/*---------------------------------------------------------------*/
/*--------------------- PICTO PAS DE COORDONNEES ----------------*/
/*---------------------------------------------------------------*/

.no-loca {
	text-align: center;
	padding-left: 0 !important;
	font-weight: bold;
	color: grey;
}

/*---------------------------------------------------------------*/
/*--------------------------- PICTO ZOOMER ----------------------*/
/*---------------------------------------------------------------*/

.zoom {
	cursor: pointer;
	background: url("../img/cible.png") no-repeat left 50% top 50%;
	background-size: 20px;
}

/*---------------------------------------------------------------*/
/*--------------------- LIENS JOSM et ADRESSES ------------------*/
/*---------------------------------------------------------------*/

.zone-clic-josm,
.zone-clic-id,
.zone-clic-adresses {
	cursor:pointer;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

/*-- Cellules fusionnées pour adresses déjà intégrées --*/
.zone-adresses {
	text-align: center;
}

.adresses-integrees {
	text-align: center;
	color:#48c78e !important;
	font-size: 1.1em;
	font-weight: bold;
}

/*--- Couleurs ---*/
.zone-clic-josm {color:#863602; /*Marron logo JOSM*/}

.zone-clic-josm.clicked,
#reponse tr:hover td.zone-clic-josm.clicked {
	background-color:#863602;
	color: #fff;
}

.zone-clic-id a {color:#777;} /*Gris*/
.zone-clic-id.clicked, #reponse tr:hover td.zone-clic-id.clicked {background-color:#777;}
.zone-clic-id.clicked a {color: #fff;}

.zone-clic-adresses,
.zone-clic-adresses a {
	color:#EC0080; /*Rose adresses*/
}

.zone-clic-adresses.clicked,
.zone-clic-adresses.clicked a,
#reponse tr:hover td.zone-clic-adresses.clicked {
	background-color:#EC0080 ;
	color:#fff;
}

/*---------------------------------------------------------------*/
/*-------------------- MESSAGE D'ENREGISTREMENT -----------------*/
/*------------------- Après changement de statut ----------------*/
/*---------------------------------------------------------------*/

/*Place laissée pour le message*/
td.cell_statut {
	padding-right: 90px;
}

.enregistrement {
	opacity: 0;
    transition: opacity 0.5s ease;

	display:inline-block;

    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.enregistrement.numeros {
    position: relative;
    z-index: 1;

    width: 120px;
    padding: 2px;
    margin-left: 5px;
}

.enregistrement.voies {
	position: absolute;
	z-index: 2;

	width: 80px;
	padding: 2px 1px;
	margin-left: 2px;
}
.enregistrement.rose {color: #EC0080;}
.enregistrement.bleu {color: #56B4E9;}
.enregistrement.gris {color: #000;}
.enregistrement.vert {color: #33A672;}

/*---------------------------------------------------------------*/
/*---------------------- CARTE DES ADRESSES ---------------------*/
/*---------------------------------------------------------------*/

#map{
  	float: left;
	margin-left: 50px;
	width: 500px;
	height: 500px;
}
.leaflet-tile-pane{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
#legende_map {
	float: left;
	font-size: 0.8em;
	line-height: 1em;
	margin: 10px;
}

/*Style commun des numéros*/
.map_numero,
.legende_numero {
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1em;
	background-color: rgba(255, 255, 255, 0.7);
	width: fit-content !important;
	min-width: 20px;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
	border: solid 1px;
}

.legende_numero.en_commun, .legende_numero.en_commun, 
.legende_numero.osm_seulement, .legende_numero.ban_seulement,
.legende_numero.anomalie  {
	border: none;
} 


/*Nouveaux styles*/
.numero_osm {
	border-radius: 50%;
}
.numero_ban {
	border-radius: 0%;
}

.en_commun {
	color: #009E73; /*vert*/
	/*border: dotted 1px;*/
}
.osm_seulement {
	color: #56B4E9; /*bleu*/
	/*background-color: rgba(86, 120, 233, 0.2);*/
}
.ban_seulement {
	color: #EFA500; /*orange*/
}

.numero_ban.anomalie,
.legende_numero.anomalie {
	color: #EC0080; /*rose*/
}

.numero_ban .map_numero_hover {
	position: relative;
	top: -35px;
	left: -8px;
	width: 20px;
	height: 20px;
	background: url("../img/pin-ban.png") no-repeat;
	background-size: 25px;
}

.numero_osm .map_numero_hover {
	position: relative;
	top: -35px;
	left: -8px;
	width: 20px;
	height: 20px;
	background: url("../img/pin-bleu.png") no-repeat;
	background-size: 25px;
}
